<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722081025698-5mo8e45807mmfuimm5e9igl38r5lut4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722081025698-5mo8e45807mmfuimm5e9igl38r5lut4g</string>
	<key>API_KEY</key>
	<string>AIzaSyC4MT_mnDWvxzSnVuHYUAUH5RXaqbsci80</string>
	<key>GCM_SENDER_ID</key>
	<string>722081025698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohand.ayooshshein</string>
	<key>PROJECT_ID</key>
	<string>ayosh-825df</string>
	<key>STORAGE_BUCKET</key>
	<string>ayosh-825df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722081025698:ios:58ae69739ffaf6fbbe91fb</string>
</dict>
</plist>